/*==================product======================*/
@import url("https://fonts.cdnfonts.com/css/clash-display");
.product {
  margin-top: 3rem;
}

.product__container {
  display: grid;
  gap: 5%;
  margin-top: 5rem;
  margin-bottom: 100px;
}

.product__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 24px 24px;
  font-family: "avenir-lt-45-book";
}

.product__value {
  align-items: center;
  border-radius: 10px;
}

.product__value img {
  height: 190px;
  object-fit: cover;
  border-radius: 15px;
}

.product__wrapper p {
  color: #c7005c;
  font-size: 14px;
  margin-top: 4px;
}

.product__wrapper small {
  margin-top: 4px;
  margin-bottom: 4px;
}

.product__load-more {
  display: flex;
  position: relative;
  justify-content: center;
  font-family: "avenir-lt-45-book";
  font-size: 20px;
  margin-top: 25px;
}

.product__load-more button {
  background-color: transparent;
}

.product__wrapper h4 {
  margin-top: 12px;
}

.rating {
  color: #ffbf00;
}
/*=======================filter=======================*/
.filter__container {
  margin-top: 7rem;
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: center;
}

.filter__container-row {
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: center;
}

.main__filter {
  border-radius: 8px;
  background-color: #ffffff;
  transition: var(--transition);
  height: 30px;
  display: flex;
  align-items: center;
  padding: 10px;
}

.dropdown__filter {
  width: 240px;
  user-select: none;
  font-family: "avenir-lt-45-book";
  position: relative;
  margin-top: 8px;
}

.dropdown__filterxx {
  width: 240px;
  user-select: none;
  font-family: "avenir-lt-45-book";
  position: relative;
  margin-top: 8px;
  font-size: 14px;
}

.rating-icon.active {
  color: #ffbf00;
}

.dropdown__filter .dropdown__filter-btn {
  padding: 10px;
  background: #ffffff;

  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border-radius: 5px;
}

.dropdown__filterxx .dropdown__filter-btn {
  padding: 10px;
  background: #ffffff;

  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border-radius: 5px;
}

.dropdown__filter-icons {
  height: 35px;
  padding-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  /* Adjust the margin value as needed */
}

.dropdown__filter-icon {
  margin-left: 10px;
}

.dropdown__filter .dropdown__filter-content {
  position: absolute;
  z-index: 1;
  top: 110%;
  width: 100%;
  max-height: 400px;
  overflow-y: auto;
  padding: 10px;
  background: #fff;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
}

.dropdown__filterxx .dropdown__filter-content {
  position: absolute;
  z-index: 1;
  top: 110%;
  width: 100%;
  max-height: 400px;
  overflow-y: auto;
  padding: 10px;
  background: #fff;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
}

.dropdown__filter .dropdown__filter-content .dropdown__filter-item {
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s;
}

.dropdown__filterxx .dropdown__filter-content .dropdown__filter-item {
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s;
}

.dropdown__filter .dropdown__filter-content .dropdown__filter-item:hover {
  background-color: #f2f2f2;
}

.dropdown__filterxx .dropdown__filter-content .dropdown__filter-item:hover {
  background-color: #f2f2f2;
}

/*=========================business profile================*/
.profile__infor-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.profile__info-left {
  display: flex;
  gap: 40px;
  align-items: center;
}

.profile__info-img {
  height: 150px;
  width: 150px;
  border-radius: 150%;
  object-fit: cover;
}

.profile__category {
  color: #c7005c;
  margin-bottom: 20px;
}

.profile__location-lga {
  color: #14011b;
  font-family: "avenir-lt-45-book";
  font-weight: 400;
  margin-bottom: 4px;
}

.profile__info_body h3 {
  font-family: "Clash Display";
  font-weight: 600;
}

.profile__infor-wrapper .subscribe {
  display: flex;
  justify-content: end;
  height: 48px;
  align-items: center;
}

.product-wishlist__name {
  font-size: 24px;
}

/*====================tabs========================================*/
.bloc-tabs {
  display: flex;
  justify-content: center;
  /* add this line */
  align-items: center;
  border-bottom: 1px solid #bdbdbd;
  flex-direction: row;
}

.tabs {
  padding: 15px;
  text-align: center;
  width: 12%;
  cursor: pointer;
  outline: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  background: transparent;
  outline: none;
  color: #bdbdbd;
  font-family: "Clash Display";
  font-weight: 500;
}

.active-tabs {
  background: transparent;
  border-bottom: 1px solid transparent;
  color: #c42af7;
  font-weight: 500;
  border-bottom: 2px solid #c42af7;
}

.active-tabs::before {
  content: "";
  display: block;
  position: absolute;
  color: #c42af7;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 5px);
  height: 5px;
}

.tabs__information {
  display: grid;
}

.tabs__information small {
  display: flex;
  align-items: center;
  font-family: "avenir-lt-45-book";
  margin-bottom: 12px;
}

.tabs__information .icon {
  color: var(--color-secondary);
  margin-right: 18px;
}

.tabs__information .location {
  display: flex;
}

.tabs__information .location small {
  width: 250px;
}

button {
  border: none;
  font-family: "avenir-lt-45-book";
  font-size: 10px;
}

/*================tabs=============*/

.content {
  padding: 20px;
  width: 65%;
  display: none;
}

.contentx {
  padding: 20px;
  display: none;
}

.content h4 {
  color: var(--color-secondary);
  font-family: "avenir-lt-45-book";
  margin-top: 20px;
  margin-bottom: 15px;
}

.content hr {
  width: 100%;
  height: 0.5px;
  background: #bdbdbd;
  margin-bottom: 5px;
  margin-top: 20px;
}

.content p {
  width: 100%;
}

.active-content {
  display: block;
}

.tabs__marketplace {
  color: #c7005c;
  display: grid;
  font-family: "avenir-lt-45-book";
}

.first-content-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
/*==================product and service======================*/

.paginationx {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.pagination {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1rem;
}

.ellipsis {
  border: none;
  background-color: #ffffff;
  color: #333333;
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
  margin: 4px;
  gap: 10px;
  height: 32px;
  width: 32px;
  border-radius: 8px;
}

.empty-productandservice__container.product h4 {
  font-family: "avenir-lt-85-heavy";
  font-weight: 700;
}

.paginationx button {
  border: none;
  background-color: #ffffff;
  color: #333333;
  padding: 10px;
  margin: 4px;
  gap: 10px;
  font-weight: 600;
  cursor: pointer;
  height: 32px;

  border-radius: 8px;
}

.pagination button {
  border: none;
  background-color: #ffffff;
  color: #333333;
  padding: 10px;
  margin: 4px;
  gap: 10px;
  font-weight: 600;
  cursor: pointer;
  height: 32px;

  border-radius: 8px;
}

.paginationx button.active {
  background-color: #c42af7;
  color: #ffffff;
}

.pagination button.active {
  background-color: #c42af7;
  color: #ffffff;
}
.productandservice__container {
  flex-direction: row;
  margin-top: 40px;
}

.productandservice__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 24px 24px;
  font-family: "avenir-lt-45-book";
}

.productandservice__value {
  align-items: center;
  border-radius: 10px;
}

.productandservice__wrapper p {
  color: #4f4f4f;
  font-size: 14px;
  margin-top: 4px;
  margin-bottom: 4px;
  font-weight: 700;
}

.productandservice__value-img {
  height: 190px;

  object-fit: cover;
  border-radius: 15px;
  margin-bottom: 12px;
}

.frame {
  height: 12px;
  width: 44px;
}

/*=======================reviews=======================*/
.review__container {
  margin-top: 40px;
}
.reviews__tab {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.reviews__tab .subscribe {
  display: flex;
  height: 45px;
  align-items: center;
}

.reviews__tab h4 {
  font-family: "Clash Display";
  font-weight: 600;
  font-size: 20px;
  display: flex;
}

.review__value {
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin-bottom: 40px;
}

.my-review__value {
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin-bottom: 40px;
}

.review_left {
  padding-top: 3px;
}

.review_left h4 {
  font-family: "avenir-lt-85-heavy";
  padding-top: 10px;
}

.review__right h4 {
  font-family: "avenir-lt-85-heavy";
}

.review__right p {
  width: 75%;
}

.review_left small {
  font-family: "avenir-lt-45-book";
  font-size: 12px;
}

.review__top__right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.review__top__right h3 {
  font-family: "avenir-lt-85-heavy";
  font-size: 30px;
}

.review__top__right span {
  font-family: "avenir-lt-85-heavy";
  font-size: 20px;
}

.review__top__right .rating {
  margin-bottom: 10px;
}

.review__header-sub {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.review__header-sub p {
  font-size: 16px;
}

.review__business-container {
  position: fixed;
  width: 415px;
  height: 441px;
  top: 5.5rem;
  right: 5rem;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0px 6px 12px rgba(41, 41, 41, 0.08);
  padding: 40px;
}

.review__header-sub-icon {
  cursor: pointer;
}

.star-icon-selected {
  color: #ffbf00;
}

.review__body-rating-sub {
  margin-top: 24px;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

/*==============================progress=====================*/

.progress {
  background-color: #e0e0e0;
  border-radius: 12px;
  position: relative;
  margin: 12px 0;
  height: 8px;
  width: 100px;
  align-items: center;
}

.review__top__right {
  margin-right: 60px;
}

.progress_content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.on_the_left {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 5px;
  font-family: "avenir-lt-45-book";
  font-size: 13px;
}

.on_the_right {
  margin-left: 3px;
  align-items: center;
  font-family: "avenir-lt-45-book";
  font-size: 13px;
}

.on_the_left .rating {
  font-size: 10px;
  margin-left: 2px;
}
.progress-done {
  background: #ffbf00;
  border-radius: 20px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 0;
  opacity: 0;
  transition: 1s ease 0.3s;
}

.show__dot-mobile {
  display: none;
}

/*==================single product======================*/
.singleproduct__detail {
  margin-top: 7rem;
  align-items: center;
}

.singleproduct-left {
  position: relative;
}

.singleproduct-left img {
  width: 524px;
  height: 428px;
  object-fit: cover;
  border-radius: 12px;
}

.singleproduct-content {
  display: flex;
  gap: 60px;
  width: 100%;
}

.modal__overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  background-color: rgba(200, 200, 200, 0.9);
}

.modal__content {
  position: fixed;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Center the content horizontally and vertically */
  max-width: 90%;
  max-height: 90%;
}

.modal__content img {
  width: 500px;
  height: 500px;
  object-fit: contain;
  /* Adjust the image's size while maintaining the aspect ratio */
}

.modal__content .close-icon {
  position: absolute;
  top: 10px;
  right: 0;

  cursor: pointer;
  color: #650585;
  font-size: 30px;
}

.singleproduct__right-header img {
  display: flex;
  cursor: pointer;
  align-self: flex-end;
  justify-content: flex-end;
  align-items: flex-end;
}
.singleproduct-right {
  align-items: center;
  width: 100%;
  align-items: flex-start;
}
.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  /* Adjust the margin as needed */
}
.singleproduct-right h4 {
  font-family: "avenir-lt-45-book";
  font-size: 16px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.singleproduct__right-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.singleproduct__right-header img {
  width: 24px;
  height: 24px;
  object-fit: cover;
}

.singleproduct-right h3 {
  font-family: "Clash Display", sans-serif;
  font-size: 24px;
  font-weight: 500;
}

.product__desc {
  margin-top: 24px;
}

.product__desc__header {
  font-family: "avenir-lt-45-book";
  color: #650585;
  font-size: 18px;
  margin-bottom: 18px;
}

.product__desc p {
  line-height: 24px;
  font-size: 16px;
}

.singlepotter__bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}

.singlepotter__bottom_left {
  display: flex;
  flex-direction: row;
}

.singlepotter__bottom_left img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 40px;
  object-fit: cover;
}

.singlepotter__bottom_left h5 {
  font-family: "avenir-lt-45-book";
}

.singlepotter__bottom_left small {
  font-family: "avenir-lt-45-book";
  color: #c7005c;
}

.singlepotter__bottom_right {
  display: flex;
  flex-direction: row;
}

.singlepotter__bottom_right .bookmark {
  margin-right: 30px;
}

.singlepotter__bottom_right img {
  width: 24px;
  height: 24px;
}

/*======================more products===============*/

.productandservice__container h3 {
  font-family: "Clash Display", sans-serif;
  margin-bottom: 20px;
  font-weight: 600;
}

.framex {
  height: 190px;
  object-fit: cover;
  border-radius: 15px;
  margin-bottom: 12px;
}

/*=============== media queries (small screens)================*/
@media screen and (max-width: 600px) {
  .product__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem 1rem;
    font-family: "avenir-lt-45-book";
  }

  .dropdown__filterxx {
    width: 140px;
    user-select: none;
    font-family: "avenir-lt-45-book";
    position: relative;
    margin-top: 8px;
    font-size: 14px;
  }

  .filter__container {
    margin-top: 7rem;
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  .main__filter {
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3),
      0px 1px 3px 1px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    background-color: #ffffff;
    transition: var(--transition);
    height: 30px;
    width: 80px;
    display: flex;
    align-items: center;
    padding: 10px;
  }

  .main__filter input {
    width: 100%;
  }

  .profile__info-img {
    flex-direction: row;
    height: 100px;
    width: 100px;
    margin-bottom: 20px;
    justify-content: space-around;
  }

  .profile__infor-wrapper {
    display: grid;
  }

  .singleproduct-left img {
    width: 100%;
    height: 250px;
    margin-bottom: 20px;
    object-fit: cover;
  }

  .singleproduct-content {
    display: flex;
    flex-direction: column;
  }

  .productandservice__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem 1rem;
    font-family: "avenir-lt-45-book";
  }

  .tabs {
    padding: 10px;
    text-align: center;
    width: 100%;
    cursor: pointer;
    outline: none;
    display: flex;
    flex-direction: row;

    background: transparent;
    outline: none;
    font-size: 10px;
  }
  .content {
    width: 100%;
    display: none;
  }
  .active-content {
    display: block;
  }

  .content hr {
    width: 100%;
    height: 0.5px;
    background: transparent;
    margin-bottom: 5px;
    margin-top: 20px;
  }

  .profile__infor-wrapper {
    display: flex;
    flex-direction: column;

    align-items: center;
    margin-top: 0;
  }
  .profile__info-left {
    display: flex;
    flex-direction: column;
    gap: 0;

    align-items: center;
    margin-top: -40px;
  }

  .profile__info-img {
    height: 40px;
    width: 40px;
    border-radius: 40px;
  }

  .profile__info_body h3 {
    text-align: center;
  }

  .profile__info_body-detail {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: horizontal;
    overflow: hidden;
  }

  .profile__info_body .rating {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }

  .profile__infor-wrapper .subscribe {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
  }

  .reviews__tab {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .review__container {
    margin-top: 20px;
  }

  .reviews__tab h4 {
    font-size: 20px;
    margin-bottom: 10px;
    margin-bottom: 20px;
  }

  .reviews__tab .subscribe {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .review__top__right p {
    width: 100%;
  }

  .review__right p {
    width: 100%;
  }

  .review__value {
    display: flex;
    flex-direction: row;
    gap: 1px;
    margin-bottom: 40px;
  }

  .my-review__value {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
  }

  .review__top__right P {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .review__top__right {
    margin-right: 20px;
  }

  .review__top__right .rating {
    font-size: 22.83px;
    gap: 3px;
  }
  .singleproduct-right h3 {
    font-family: "ClashDisplay-Bold";
    font-size: 20px;
    font-size: 24.6px;
    font-weight: 400;
  }

  .singlepotter__bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;
  }

  .productandservice__wrapper.x {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
  }

  .productandservice__value.x {
    display: inline-block;
    width: 100%;
    margin-right: 10px;
    vertical-align: top;
  }

  .productandservice__wrapper.x::-webkit-scrollbar {
    width: 0.5rem;
    background-color: transparent;
  }

  .productandservice__wrapper.x::-webkit-scrollbar-thumb {
    background-color: transparent;
  }

  .productandservice__wrapper.x::-webkit-scrollbar-thumb:hover {
    background-color: transparent;
  }

  .productandservice__wrapper.x::-webkit-scrollbar-thumb:active {
    background-color: transparent;
  }

  .productandservice__value.x .framex {
    width: 200px;
    height: 160px;
  }

  .show__dot-mobile {
    display: block;
  }

  .filter__container {
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
  }

  .filter__container-row p {
    display: none;
  }

  .dropdown__filter {
    width: 100%;
    user-select: none;
    font-family: "avenir-lt-45-book";
    position: relative;
    margin-top: 8px;
  }

  .dropdown__filter-btn {
    font-size: 11px;
  }

  .filter__container {
    margin-top: 7rem;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
  }

  .filter__container-row {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    width: 100%;
  }

  .dropdown__filter-content {
    font-size: 12px;
  }

  .review__business-container {
    position: fixed;
    width: 100%;
    height: 441px;
    top: 5.5rem;
    right: 0;
    overflow-y: none;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0px 6px 12px rgba(41, 41, 41, 0.08);
    padding: 40px;
  }
}
