@import url("https://fonts.cdnfonts.com/css/clash-display");
/*==================blog======================*/
.blog {
  margin-top: 3rem;
  margin-bottom: 200px;
}

.blog__container {
  display: grid;
  gap: 5%;
  margin-top: 5rem;
}

.blog_filtering {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 17px;
}

.blog_filtering img {
  width: 30px;
}

.blog_filtering p {
  font-size: 20px;
  font-family: "avenir-lt-45-book";
}

.blog__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem 2rem;
  font-family: "avenir-lt-45-book";
}

.user-blog__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem 2rem;
  font-family: "avenir-lt-45-book";
}

.blog__value {
  align-items: center;
  border-radius: 10px;
}

.blog__value h2 {
  font-family: "avenir-lt-45-book";
  font-size: 22px;
}

.blog__value___bodies {
  width: 100%;
}

.blog__value___bodies .small {
  width: 90%;
  font-weight: 400;
  font-family: "avenir-lt-45-book";
  color: #333333;
}

.blog__value___bodies .smallx {
  font-size: 16px;
  font-weight: 300;
  font-family: "avenir-lt-45-book";
  color: #333333;
}

.blog__value-img {
  margin-bottom: 10px;

  height: 190px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  object-fit: cover;
}

.blog__value___bodies-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.blog__wrapper p {
  color: #c7005c;
  font-size: 14px;
}

.rating {
  color: #ffbf00;
}

.blog__bottom-detail .smallx {
  color: #828282;
  font-size: 16px;
}

.blog__bottom {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.blog__bottom img {
  width: 40px;
  margin-right: 10px;
  display: flex;
  align-items: center;
}

/*==================write blog =====================*/
.write-blog__container {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.write-blog__wrapper {
  width: 100%;

  padding: 0;
  border-radius: 24px;
}

.write-blog__wrapper .textarea {
  max-width: 100%;
  min-width: 100%;
  width: 100%;
  height: 500px;
  padding: 7px;
  outline: none;
  font-family: "avenir-lt-45-book";
  border-radius: 5px;
  border: 1px solid rgb(220, 220, 220);
}

.write-blog__wrapper p {
  color: rgba(131, 28, 165, 1);
  margin-bottom: 40px;
}

.write-blog__submit {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 80px;
  margin-bottom: 170px;
  gap: 50;
  justify-content: flex-end;
  align-items: flex-end;
}

.write-blog-publish {
  background-color: #650585;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 12px 32px 12px 32px;
  color: #ffffff;
  cursor: pointer;
}

.write-blog__author {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  gap: 24px;
  margin-top: 150px;
}

.write-blog__author {
  color: #c7005c;
}

.write-blog__author img {
  width: 40px;
  height: 40px;
}

.write-blog-promote {
  background-color: transparent;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 12px 32px 12px 32px;
  color: #650585;
  cursor: pointer;
}

.write-blog__title__label {
  font-family: "ClashDisplay-Bold";
  color: #bdbdbd;
  font-size: 24px;
  background: transparent;
  margin-bottom: 20px;
  margin-top: 20px;
}

.write-blog__title__label::placeholder {
  font-family: "ClashDisplay-Bold";
  color: #bdbdbd;
}
/*==================blog detail======================*/
.blog__detail {
  margin-top: 7rem;
  margin-bottom: 120px;
}

.blog__detail-header h2 {
  font-family: "Clash Display", sans-serif;
  font-weight: 600;
  font-size: 34px;
}

.blog__detail-content {
  cursor: pointer;
}

.blog__detail-content img {
  margin-bottom: 40px;
  height: 500px;
  object-fit: cover;
  border-radius: 10px;
}

.blog__bottom {
  margin-bottom: 25px;
  display: flex;
  align-items: center;
}

.blog__bottom p {
  color: #c7005c;
  font-size: 16px;
  margin-bottom: 4px;
  font-weight: 400;
}

.reply__buttons {
  display: flex;
  gap: 8px;
}

.view-replies {
  font-size: 14px;
  margin-top: 8px;
  margin-bottom: 14px;
  font-family: "avenir-lt-45-book";
  cursor: pointer;
  color: #14011b;
}

.post-reply {
  padding: 4px 8px 4px 8px;
  background-color: #650585;
  color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
}

.cancel-reply {
  padding: 4px 8px 4px 8px;
  background-color: #333333;
  color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
}

.blog__bottom small {
  font-family: "avenir-lt-45-book";
}

.blog__bottom img {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  object-fit: cover;
}

.blog__body {
  display: grid;
  grid-template-columns: 70% 25%;
  margin-top: 20px;
  justify-content: space-between;
  gap: 5px;
}

.preformatted {
  padding: 10px;
  font-family: "avenir-lt-45-book";
  font-size: 16px;
  line-height: 1.4;
}
.blog__body__right h4 {
  font-family: "avenir-lt-45-book";
  font-size: 20px;
  font-weight: 700;
  color: #14011b;
  margin-top: 24px;
}

.blog__body__right-img {
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.blog__body__right {
  margin-bottom: 20px;
}

.blog__body__autor {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 26px;
}

.blog__body__autor img {
  height: 50px;
  width: 50px;
  margin-right: 5px;
  object-fit: cover;
  border-radius: 50px;
}

.blog__body__autor .smallx {
  color: #828282;
  font-size: 16px;
}

.blog__body__autor p {
  font-size: 16px;
  color: #c7005c;
  margin-bottom: 6px;
}

.blog__body__autor small {
  font-size: 14px;
  font-family: "avenir-lt-45-book";
}

.blog__tags {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.blog__tags p {
  font-size: 16px;
  background-color: #ccacd6;
  padding: 4px 12px;
  border-radius: 13px;
  margin-right: 15px;
  color: #14011b;
  font-weight: 400;
}

.comment__flexbox {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.comment__flexbox-ads {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.input-box {
  width: 100%;
  height: 152px;
  border: 1px solid #bdbdbd;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
}

.input-box-reply {
  max-width: 350px;
  width: 350px;
  max-height: 102px;
  border: 1px solid #bdbdbd;
  background-color: #faedfe66;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
}

.blog__actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  align-items: center;
}

.blog__actions-left {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  cursor: pointer;
  color: var(--color-secondary);
}

.blog__actions-right {
  display: flex;
  flex-direction: row;
  gap: 20px;
  color: var(--color-secondary);
  cursor: pointer;
}

.recent__postx-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "avenir-lt-45-book";
  margin-bottom: 20px;
}

.blog__comment-reply {
  display: flex;
  flex-direction: row;
  max-width: 350px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.blog__comment-reply h6 {
  font-family: "avenir-lt-45-book";
  font-size: 14px;
  font-weight: 400;
  color: rebeccapurple;
}

.blog__comment-body {
  display: flex;
  flex-direction: row;
}

.blog__comment-body img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  object-fit: cover;
  border-radius: 50%;
}

.blog__comment-body p {
  font-size: 16px;
  font-weight: 600;
}

.reply__comment {
  display: flex;
  flex-direction: column;
}

.reply__comment p {
  color: #c7005c;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
}

.comment__flexbox-mobile {
  display: none;
}

/*=============== media queries (small screens)================*/
@media screen and (max-width: 600px) {
  .blog__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem 2rem;
    font-family: "avenir-lt-45-book";
  }

  .user-blog__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2rem 0;
    font-family: "avenir-lt-45-book";
  }

  .blog__body {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 20px;
    justify-content: space-between;
    gap: 5px;
  }

  .blog__value-img {
    margin-bottom: 10px;

    height: 190px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    object-fit: cover;
  }

  .blog__value___bodies .small {
    font-size: 16px;
    font-weight: 300;
    font-family: "avenir-lt-45-book";
  }

  .blog__value h2 {
    font-family: "avenir-lt-45-book";
    font-size: 20px;
    font-weight: 700;
  }

  .comment__flexbox-ads {
    display: none;
    flex-direction: column;
    align-items: flex-end;
  }

  .write-blog__wrapper .textarea {
    max-width: 100%;
    min-width: 100%;
    width: 100%;
    height: 283px;
    padding: 7px;
    outline: none;
    font-family: "avenir-lt-45-book";
    border-radius: 5px;
    border: 1px solid rgb(220, 220, 220);
  }
  .write-blog__submit {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 170px;
    gap: 40;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .write-blog-promote {
    background-color: transparent;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: #650585;
    cursor: pointer;
  }
  .write-blog-publish {
    background-color: #650585;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: #ffffff;
    cursor: pointer;
    margin-bottom: 30px;
  }
  .blog__detail-content img {
    margin-bottom: 40px;
    height: 258px;
    object-fit: cover;
    border-radius: 8px;
  }
  .blog__detail-header h2 {
    font-family: "Clash Display", sans-serif;
    font-weight: 600;
    font-size: 32px;
  }

  .blog__body__right {
    margin-top: 20px;
  }

  .comment__flexbox-mobile {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .input-box {
    width: 100%;
    height: 80px;
    border: 1px solid #bdbdbd;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
  }

  .ads__comment-body-mobile h4 {
    font-family: "avenir-lt-45-book";
  }
}
