.contact__container {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.contact__title {
  margin-top: 7rem;
  margin-bottom: 60px;
}

.contact__wrapper {
  width: 584px;
  height: 749px;
  background-color: rgba(101, 5, 133, 0.05);
  padding: 40px;
  border-radius: 24px;
}

.contact__wrapper p {
  color: rgba(131, 28, 165, 1);
  margin-bottom: 40px;
  font-weight: 600;
}

form {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  font-size: 16px;
}

.input {
  width: 100%;
  height: 35px;
  padding: 7px;
  outline: none;
  margin-bottom: 24px;
  border-radius: 5px;
  border: 1px solid rgb(220, 220, 220);
}

.textarea {
  max-width: 100%;
  min-width: 100%;
  width: 100%;
  height: 262px;
  padding: 7px;
  outline: none;
  font-family: "avenir-lt-45-book";
  border-radius: 5px;
  border: 1px solid rgb(220, 220, 220);
}

label {
  margin-top: 1rem;
  font-family: "avenir-lt-45-book";
  margin-bottom: 12px;
}

input[type="submit"] {
  font-family: "avenir-lt-45-book";
  margin-top: 24px;
  cursor: pointer;
  background: #650585;
  color: white;
  border: none;
}

input::placeholder,
textarea::placeholder {
  color: #e0e0e0;
  font-family: "avenir-lt-45-book";
  font-size: 12px;
}
