/*==================events and ticketing======================*/
.events {
    margin-top: 3rem;
}

.events__container {
    display: grid;
    gap: 10%;
    margin-top: 40px;
    margin-bottom: 100px;
}


.events__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem 1rem;
    font-family: "avenir-lt-45-book";
}

.events__value {
    display: flex;
    flex-direction: row;
    background-color: #F3D4FD80;
    align-items: center;
    width: 292px;
    border-radius: 5px;
    padding: 10px;
}

.events__value img {
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 15px;
    margin-left: 15px;
}

.event__searchContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.event__categories{
    font-size: 30px;
    color: #333333;
    margin-bottom: 30px;
}

.event__search{
    margin-top: 2rem;
    background-color: #ffffff;
    height: 40px;
    width: 80%;
    border-radius: 40px;
    padding-left: 30px;
    padding-right: 30px;
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.event__search__bg{
    background-color: var(--color-secondary);
        border-radius: 30px;
        height: 30px;
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
}

.event__search__icon {
    height: 20px;
    width: 20px;
    
}

.inputing {
    border: none;
    padding: 5px;
    font-family: 'avenir-lt-45-book';
    width: 80%;
    outline: none;
}



/*==================trending events======================*/


.trending__events__container {
    display: grid;
    gap: 10%;
    margin-top: 2rem;
}


.trending__events__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2.4rem 3rem;
    font-family: "avenir-lt-45-book";
}

.trending__events__value {
    background-color: #ffffff;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
   
}

.trending__events__value .category {
    margin-top: 16px;
    color: #C7005C;
    margin-top: 16px;
    margin-bottom: 10px;
}

.trending__events__value .title{
    margin-bottom: 13px;
    color: #14011B;
    font-size: 20px;
}

.trending__events__value .detail{
    color: #828282;
    font-size: 14px;
    
}

.trending__events__value .date {
    color: #828282;
    font-size: 14px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.trending__events__value .link {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 10px;

}

/*==================explore======================*/
.explore{
    margin-top: 5rem;
}

.explore__container {
    display: grid;

    gap: 10%;
    margin-top: 2rem;
}


.explore__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1.2rem 1.2rem;
    font-family: "avenir-lt-45-book";
}

.explore__value {
    align-items: center;
    border-radius: 10px;
    padding: 10px;
}

.explore__value p{
    margin-top: 10px;
}

/*===================host event ============================ */

.host__event__container{
    background: var(--color-secondary);
    color: var(--color-white);
    display: grid;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
    margin-top: 5rem;
}

.host__event__container h2 {
    margin-top: 60px;
    margin-bottom: 40px;
    color: var(--color-white);
}

.host__event__container .link{
    margin-bottom: 60px;
}

/*==================events detail======================*/
.event__detail {
    margin-top: 3rem;
}

.event__detail-content {
    display: grid;
    grid-template-columns: 60% 30%;
    justify-content: space-between;
    font-family: "avenir-lt-45-book";
}

.event__detail-left p{
    font-size: 30px;
    color: #14011B;
    margin-bottom: 14px;
}

.event__detail-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 10px;
}

.event__detail-right h3{
    font-family: "avenir-lt-85-heavy";
    font-size: 32px;
    margin-top: 24px;
}


.event__detail-right .btn.fill{
    align-items: center;
    margin-top: 15%;
    justify-content: center;
    text-align: center;
    margin-bottom: 30px;
}

.event__detail-desc {
    margin-top: 3rem;
    
}

.event_gen-info {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.event_gen-info img{
    width: 30px;
    height: 30px;
}

.event__detail-desc p {
    font-size: 30px;
    color: #333333;
    margin-bottom: 40px;
    align-items: center;
}

.event__detail-desc small{
    font-family: "avenir-lt-45-book";
    display: grid;
    grid-template-columns: 85%;
    font-size: 16px;
}

.events-details__value {
    display: flex;
    flex-direction: row;
    background-color: #F3D4FD80;
    width: 292px;
    border-radius: 5px;
    padding: 10px;
}

.events-details__value img {
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 10px;
    margin-left: 10px;
}



/*=============== media queries (medium screens)================*/
@media screen and (max-width:1024px) {
    .trending__events__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2.4rem 3rem;
        font-family: "avenir-lt-45-book";
    }

    .explore__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 0.5rem 0.5rem;
        font-family: "avenir-lt-45-book";
    }
}


/*=============== media queries (small screens)================*/
@media screen and (max-width:600px) {


    .trending__events__wrapper {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2.4rem 3rem;
        font-family: "avenir-lt-45-book";
    }
    .explore__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.5rem 0.5rem;
        font-family: "avenir-lt-45-book";
    }

.events__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem 1rem;
    font-family: "avenir-lt-45-book";
}
.events {
    margin-top: 0rem;
}

.event__search {
    margin-top: 1rem;
    background-color: #ffffff;
    height: 30px;
    width: 80%;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.event__search__bg {
    background-color: var(--color-secondary);
    border-radius: 25px;
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.event__search__icon {
    height: 16px;
    width: 16px;

}

.host__event__container {
    background: var(--color-secondary);
    color: var(--color-white);
    display: grid;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
    margin-top: 5rem;
}

.host__event__container h2{
    font-size: 20px;
}

.host__event__container h2 {
    margin-top: 30px;
    margin-bottom:20px;
    color: var(--color-white);
}

.host__event__container .link {
    margin-bottom: 20px;
}
.event__detail-content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    justify-content: space-between;
    font-family: "avenir-lt-45-book";
}
.event__detail {
    margin-top: -1rem;
}

}


